
{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>ADAM</title>

    {% load static %}

    <link rel="shortcut icon" href="{% get_static_prefix %}images/favicon.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.deep_purple-pink.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}style/styles.css">
    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
    </style>
</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            <h3>ADAM - Question Answering System</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <a href="/" class="mdl-layout__tab">Dashboard</a>
            <a href="/results/" class="mdl-layout__tab">Results</a>
            <a href="/features/" class="mdl-layout__tab">Features</a>
            <a href="/about/" class="mdl-layout__tab is-active">About</a>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="about">
            <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                <div class="mdl-card mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__supporting-text">
                        <h4>Paper - "A Cognitive Approach In Question Answering System"</h4>
                        <b>Abstract</b> - Cognitive Computing is the future of computing
                        and is rapidly taking over the industry. With the amount
                        of information growing exponentially it also poses a
                        challenge to search engines to extract more relevant and
                        contextual information. A question answering system
                        outperforms the conventional search engines in such
                        scenarios. This paper discusses a cognitive approach in
                        question answering systems and proposes an architecture
                        which follows human problem-solving techniques to
                        answer questions. An example is also discussed and
                        explained along with its underlying operations.
                        <ul class="toc">
                            <h4>Keywords</h4>
                            <a href="#">Cognitive Computing</a>
                            <a href="#">Natural Language Processing</a>
                            <a href="#">Human Computer Interaction</a>
                            <a href="#">Human Problem Solving</a>
                            <a href="#">Question Answering</a>
                            <a href="#">Information Retrieval</a>
                        </ul>

                        <h5 id="">Published at</h5>
                        <h6><b>International Journal of Engineering Applied Sciences and Technology</b>, 2017
                            Vol. 2, Issue 5, ISSN No. 2455-2143, Pages 75-80
                            Published Online March-April 2017 in IJEAST <a href="http://www.ijeast.com">(http://www.ijeast.com)</a></h6>
                        <h5 id="">Poster</h5>
                        <img width="770" src="{% get_static_prefix %}images/adam_qa_pipeline.png">
                    </div>
                    <div class="mdl-card__actions">
                        <a href="#" class="mdl-button">Developed by Alleviate</a>
                    </div>
                </div>
            </section>

            <section class="section--footer mdl-color--white mdl-grid">
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                    <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Shirish Kadam</h5>
                    Implemented Question Analysis/Answer Extraction phase for the Question Answering system. Developing the Django Web App.
                </div>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                    <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Rohan Purekar</h5>
                    Project Deployment and Resource Management.
                </div>
            </section>
        </div>
        <footer class="mdl-mega-footer">
            <div class="mdl-mega-footer--bottom-section">
                <div class="mdl-logo">
                    More Information
                </div>
                <ul class="mdl-mega-footer--link-list">
                    <li><a href="https://developers.google.com/web/starter-kit/">Web Starter Kit</a></li>
                </ul>
            </div>
        </footer>
    </main>
</div>
<a href="https://github.com/5hirish/adam_qas" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>
<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</body>
</html>
