
{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ADAM A Question Answering System">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>ADAM</title>

    {% load static %}

    <link rel="shortcut icon" href="{% get_static_prefix %}images/favicon.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.deep_purple-pink.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}style/styles.css">

    <style type="text/css">
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
        .mdl-textfield{
            width: 70%;
            margin-bottom: 1%;
        }
    </style>
</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            <h3>ADAM - Question Answering System</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <a href="/" class="mdl-layout__tab is-active">Dashboard</a>
            <a href="/features/" class="mdl-layout__tab">Features</a>
            <a href="/about/" class="mdl-layout__tab">About</a>
            <!--<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
                <i class="material-icons" role="presentation">add</i>
                <span class="visuallyhidden">Add</span>
            </button>-->
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">

            <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                <div class="mdl-card mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__supporting-text">

                        <form method="post" action="" class="question_form">
                            {% csrf_token %}
                            <div class="mdl-typography--text-center">
                                <h4>Question</h4>
                                <div class="mdl-textfield mdl-js-textfield is-upgraded">

                                    <input class="mdl-textfield__input" type="text" name="question" id="question" required="required">
                                    <label class="mdl-textfield__label" for="question">Ask Me...</label>

                                </div>
                                <label class="mdl-button mdl-js-button" for="question">
                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ASK &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </button>
                                </label>    
                            </div>
                            <div class="mdl-card__actions">

                                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch_int_res">
                                    <span class="mdl-switch__label">Show Intermediate Processing Information</span>
                                    <input type="checkbox" id="switch_int_res" name="switch_int_res" class="mdl-switch__input" value="True">
                                </label>

                            </div>
                        </form>

                    </div>
                    <div class="mdl-card__actions">
                        <a href="#" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Help</a>
                    </div>
                </div>

                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn3">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn3">
                    <li class="mdl-menu__item">Lorem</li>
                    <li class="mdl-menu__item" disabled>Ipsum</li>
                    <li class="mdl-menu__item">Dolor</li>
                </ul>
            </section>

            <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                <div class="mdl-card mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__supporting-text">
                        <h4>Answer</h4>
                        The majority of cancers, some 90–95% of cases, are due to environmental factors. The remaining 5–10% are due to inherited genetics. Environmental, as used by cancer researchers, means any cause that is not inherited genetically, such as lifestyle, economic and behavioral factors and not merely pollution. Common environmental factors that contribute to cancer death include tobacco (25–30%), diet and obesity (30–35%), infections (15–20%), radiation (both ionizing and non-ionizing, up to 10%), stress, lack of physical activity and environmental pollutants.
                    </div>
                    <div class="mdl-card__actions">
                        <a href="#" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Accept</a>
                        <a href="#" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Reject</a>
                    </div>
                </div>

                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn3">
                    <i class="material-icons">share</i>
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn3">
                    <li class="mdl-menu__item">Lorem</li>
                    <li class="mdl-menu__item" disabled>Ipsum</li>
                    <li class="mdl-menu__item">Dolor</li>
                </ul>
            </section>
            <section class="section--footer mdl-color--white mdl-grid">
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                    <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Developed at Alleviate</h5>
                    Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
                </div>
            </section>
        </div>
        <!-- <div class="mdl-layout__tab-panel" id="features">
            <section class="section--center mdl-grid mdl-grid--no-spacing">
                <div class="mdl-cell mdl-cell--12-col">

                </div>
            </section>
        </div> -->
        <footer class="mdl-mega-footer">
            <div class="mdl-mega-footer--bottom-section">
                <div class="mdl-logo">
                    More Information
                </div>
                <ul class="mdl-mega-footer--link-list">
                    <li><a href="https://developers.google.com/web/starter-kit/">Web Starter Kit</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy and Terms</a></li>
                </ul>
            </div>
        </footer>
    </main>
</div>
<a href="https://github.com/google/material-design-lite/blob/mdl-1.x/templates/text-only/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>
<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</body>
</html>
